body{
    width: 100%;
    margin: 0 auto;
    background-color: #cdc6bd;
    overflow-x: hidden;
}
#body{
    position: relative;
}
#Main{
    background-color: #ffffff;
    border-radius: 16px;
    z-index: 1;
    padding-bottom: 20px;
}

section{
    border-radius: 25px;
}

#left{
    background-color: #fff;
}
#left h3{
    text-align: center;
    margin-top: 30px;
}
div .img{
    width: 120px;
    height: 120px;
    background-color: yellowgreen;
    margin: auto;
    border-radius: 50%;
    background-image: url(images/portrait-657116_640.jpg);
    background-size: cover;
    margin-top: 40px;
    padding-top: 100px;
}
div .img div{
    color: rgba(0, 0, 0, 0.603);
    text-align: center;
    background-color: white;
    width: 80px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px black;
    
}
.cont{
    height: 100vh;
    border-right: 2px solid gray;
    margin-bottom: 30px;
    
}
.descri{
    text-align: center;
    margin-top: 50px;
}
.list{
    margin-top: 30px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.list #active:active{
    font-weight: bolder;
}

.list li{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.list li a{
    text-decoration: none;
    color: rgb(24, 23, 23);
    font-weight: 500;
}

#Aside{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.486);
   /*  border-top-right-radius: 10px; */
    border-bottom-right-radius: 10px;
    width: 475px;
    margin-left: 74%;
    padding-left: 30px;
}


#Aside h2{
    font-weight: bold;
}

#Aside .notification {
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }

#Aside .notification i{
    font-size: 1.7em;
    color: #000;
    margin-left: 20px;
}

#Aside .notification .badge {
    position: relative;
    top: -14px;
    right: 10px;
    font-size: 0.5em;
    border-radius: 50%;
    background: red;
    color: white;
}

#Aside .date{
    margin-top: 40px;
}

#Aside .date span{
font-weight: 100;
color: #1f1f1f;
}

#Aside .date i{
    font-weight: 100;
    position: relative;
    font-size: 1.7em;
    color: #000;
    margin-left: 45px;
    top: -14px;
}

#Aside .heure{
    margin-top: 20px;
}

#Aside .heure span{
    font-family: 'Arial';
    font-weight: 900;
    font-size: 1.2em;
}

#Aside .heure  ul li{
    position: relative;
    list-style: none;
    margin-left: -80px;
    border-left: 3px solid rgb(8, 201, 201);
    padding-left: 20px;
}

#Aside .heure #orange ul li{
    position: relative;
    list-style: none;
    margin-left: -80px;
    border-left: 3px solid rgb(250, 117, 7);
    padding-left: 20px;
}

#Aside .heure #violet ul li{
    position: relative;
    list-style: none;
    margin-left: -80px;
    border-left: 3px solid rgb(90, 2, 90);
    padding-left: 20px;
}

#Aside .heure ul #liste1{
    font-weight: 100;
    font-size: large;
}

#Aside .heure ul #liste2{
    font-weight: 900;
    font-size: large;
}
/* le barre de recherche */
/* .entete{
    display: flex;
    justify-content: space-between;
} */
/* #today{
    color: #cdcfe4;
} */
/* #hello{
    color: #34113d;
} */
#serch{
    background-color:#f5f4f5 ;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}
/* #add{
    border: none;
    background-color: #0e1321;
    color: white;
    border-radius: 5px;
    padding: 7px 15px 7px 15px;
} */