/* #colonne{
    display: flex;
    flex-wrap: wrap;
} */

h2{
    color: #34113D;
    margin:0 0 30px 0;
    font-size: 28px;
}

/* #article{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
} */

/* .app{
    height: 100px;p
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-left: 10px solid #FD7E50;
    box-shadow: 10px 10px #F5F4F5;
}
.app  input{
    margin-left: 250px;
}
.app h3 {
    padding-top: 15px;
    margin-left: 20px;
    color: #34113D;
    font-size: 20px;
}
.app p{
    padding-top: 8px;
    margin-left: 20px;
    color: #CDC5D0;
} */
#art{
    border: 1px solid #F5F4F5;
    background-color: #F5F4F5;
    width: 85px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
#art h4{
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}
#art p {
    font-size: 75%;
}
/* #heure h4{
    color: #34113D;
    margin-left: 5px;
    padding-top: 8px;
    font-weight: bolder;
}
/* #heure p{
    color: #CDC5D0;
    margin-left: 5px;
} */
/* #tasks{
    border: 1px solid #F5F4F5;
    background-color: #F5F4F5;
    width: 100px;
    border-radius: 10px;
} */
/* #tasks h4{
    color: #34113D;
    margin-left: 5px;
    padding-top: 8px;
    font-weight: bolder;
} */
/* #tasks p{
    color: #CDC5D0;
    margin-left: 5px;
} */

#widget{
    border: 3px dashed #DED8DF;
    width: 85px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
#font {
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial black', sans-serif;
    margin-top: 10px;
}
/* #widget span{
    border: 1px solid #34113D;
    background-color: #34113D;
    margin-top: 5px;
    border-radius: 50%;
    color: white;
} */
/* #widget p{
    color: #CDC5D0;
    margin-left: 5px;
    padding-top: 20px;
} */
/* .apps{
    height: 100px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-left: 10px solid #70367c;
    box-shadow: 10px 10px #F5F4F5;
}
.apps  input{
    margin-left: 250px;
}
.apps h3 {
    padding-top: 15px;
    margin-left: 20px;
    color: #34113D;
    font-size: 20px;
}
.apps p{
    padding-top: 8px;
    margin-left: 20px;
    color: #CDC5D0;
} */

.ap{
    height: 90px;
    border-radius: 12px;
    /* border-top-left-radius: 12px; */
    /* border-left: 10px solid #95CFD5; */
    box-shadow: 10px 10px #F5F4F5;
    margin-bottom: 20px;
}
.ap  input{
    float: right;
    margin:30px 30px 0 0;
    
}

.ap h3 {
    padding-top: 15px;
    margin-left: 20px;
    color: #34113D;
    font-size: 20px;
}
.ap p{
    padding-top: 8px;
    margin-left: 20px;
    color: #CDC5D0;
}
/* #price{
    
    flex-wrap: wrap
} */

/* .propos h4 , span{
    color: #34113D;
    margin-top: -50px;
    font-weight: bolder;
}
.propos h6{
    color: #34113D;
}
.propos p{
    color: #CDC5D0;
} */

#price{
    /* margin-top: 25px;
    margin-right: 50px; */
    /* border: 1px solid #F5F4F5;
    background-color: #F5F4F5; */
    /* width: 25px;
    height: 50px; */
    /* margin-right: 50px;
    margin-bottom: 20px;
    border-radius: 10px; */
    
}
#price img{
    /* margin-top: 0px; */
    /* margin-left: 20px; */
    /* float: left;
    margin-right: 50px; */

}